/* Navbar css */

nav {
    width: 100vw;
    height: 5rem;
    font-size: 1.1rem;
    display: grid;
    place-items: center;
    position: fixed;
    background: var(--color-primary);
    top: 0;
    left: 0;
    z-index: 1000;
}

.toggle-btn{
    display: none;
}

.navbar__container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.logo {
    width: 10rem;
    display: block;
    cursor: pointer;
}

.logo:hover{
    color: rgb(34, 169, 223);
}

.logo h1 {
    font-size: 3rem;
}

.navbar__links {
    display: flex;
    gap: 3rem;
}

.navbar__li a {
    font-weight: 600;
    color: var(--color-secondary);
    transition: var(--transition);
}
.navbar__li a:hover{
   color: rgb(34, 169, 223);
}


/* Hero Section */

.hero__container {
    width: 100vw;
    height: 70vh;
    border: 1px solid red;
    display: grid;
    grid-template-columns:  1fr 1fr;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* .hero__left {
    text-align: center;
} */

.hero__left h2 {
    font-size: 3rem;
    line-height: 3rem;
    display: inline;
    /* border: 1px solid red; */
}

.hero__left img {
    display: inline;
    width: 3rem;
    height: 3rem;
}

.hero__left p {
    margin-top: 2rem;
}

.hero__socials {
    margin-top: 2rem;
    cursor: pointer;
}
.hero__first-icon {
    font-size: 2.5rem;
    color: rgb(48, 45, 45);
}

.hero__first-icon:hover{
   color: rgb(34, 169, 223);
}

.hero__second-icon {
    font-size: 2.2rem;
    color: rgb(48, 45, 45);;
    margin-left: 1.5rem;
}

.hero__second-icon:hover{
    color: rgb(34, 169, 223);
}


.hero__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__right img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 2px solid black;
}


/* Tech stack section */

.techstack__container{
   height: 30vh;
   width: 100%;
   border: 1px solid blue;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}


.tech__left h3{
    font-size: 1.5rem;
}

.tech__right {
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1rem;

}

.tech__right img{
    width: 3.5rem;
    height: 3.5rem;
    margin: 1.2rem;
    cursor: pointer;
    transition: all 0.5ms ease-in;
}

.animation:hover {
    transform: translateY(-10px);
}


/* About me */

.about__container {
    height: 50vh;
    border: 1px solid red;
    margin: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.about__left img{
   height: 20rem;
   width: 20rem;
}

.about__right h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: rgb(34, 169, 223);
    font-weight: 700;
}

.about__right h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

















/* Media query */

@media screen and (max-width : 1024px ) {
    .toggle-btn {
        display: inline-block;
        background: transparent;
        font-size: 1.1rem;
        cursor: pointer;
    }

    .logo h1{
       font-size: 2rem;
    }

    .navbar__links {
        position: absolute;
        top: 100%;
        right: 0%;
        flex-direction: column;
        gap: 0.4rem;
        margin-top: 0.8rem;
    }

    .navbar__li {
        height: 4rem;
        width: 100%;
        box-shadow: -1rem 1rem 1rem rgba(216, 205, 205, 0.4);
        border: 1px solid rgb(225, 217, 217);
    }

    .navbar__li a {
        background: var(--color-primary);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }


    .show-nav {
        display: flex;
    }
    .hide-nav{
        display: none;
    }

    .hero__container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero__right {
        margin-top: 3rem;
    }

    .hero__left {
        margin-top: 4rem;
        width: 100%;
        text-align: center;
    }
    .hero__left h2{
        font-size: 2rem;

    }

    /* Tech stack */

    .techstack__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        text-align: center;
    }

    .tech__right img{
        width: 3.2rem;
        height: 3.2rem;
        margin: 1rem;
    }


    /* About  */

    .about__container {
        width: 100%;
        height: 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about__right {
        padding: 0 5rem;
        margin-top: -5rem;
    }

    .about__right h4{
        line-height: 1.7rem;
    }

}

@media screen and (max-width: 1408px ) {
    .about__container {
        width: 100%;
        height: 58rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}


@media screen and (max-width: 600px) {

    .hero__container {
        width: var(--container-width-md);
    }

    .hero__left {
        width: var(--container-width-md);

    }


    .logo h1 {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .hero__container {
        text-align: center;
        justify-content: center;
    }
    
    .hero__right img {
        width: 15rem;
        height: 15rem;
    }
    .techstack__container {
        display: block;
    }

    .tech__right {
        margin-top: 3rem;
    }
    .tech__right img {
        width: 2.5rem;
        height: 2.5rem;
        gap: 0.8rem;
    }

    .about__container {
        width: var(--container-width-md);
        margin-top: 10rem;
    }

    .about__right {
        margin-top: -5rem;
        padding: 1rem;
    }


    .about__left img {
        width: 15rem;
        height: 15rem;
    }
}