*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-primary: #fff;
    --color-secondary: ##F9F9F9;
    --color-text: #A7A7A7 ;
    --container-width-lg : 80%;
    --container-width-md : 100%;
    --container-width-lg-home : 60%;
    --transition: all 0.5s 90%;
}

body{
    font-family: "Montserrat", "sans-serif";
    /* color: var(--color-text); */
    line-height: 1.7rem;
    overflow-x: hidden;
    background: var(--color-secondary);
}


.nav__container{
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: 0;
    /* border: 1px solid red; */
}

.container {
    width: var(--container-width-lg-home);
    max-width: auto;
    margin-inline: auto;
}

h1 , h2 , h3 , h4 {
    line-height: 1.2rem;
}

h1{
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 600px) {
   .container {
      width: 90%;
   }
}